[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445061308F6C1C-if00
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 26.0

# Working configuration
reg_drive_current: 15
tap_drive_current: 15

# Start calibration farther from the bed to avoid saturation
home_trigger_height: 3.5
home_trigger_safe_start_offset: 1.5

# Probe speed - this one *is* supported
probe_speed: 5



[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
horizontal_move_z: 2
speed: 200
mesh_min: 10, 10
mesh_max: 290, 270
probe_count: 9, 9
algorithm: bicubic

[safe_z_home]
home_xy_position: 150, 150
z_hop: 10
z_hop_speed: 25
speed: 200