[gcode_arcs]

# This file is an example config file for cartesian style printers.
# One may copy and edit this file to configure a new cartesian
# printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include timelapse.cfg]
[exclude_object]
[include KAMP_Settings.cfg]
[include ShakeTune.cfg]
[include SpeedTuning.cfg]
[include NiteHawk36.cfg]
# [include Eddy_ng.cfg]  # Replaced by Cartographer - tag: pre-cartographer-migration
[include Cartographer.cfg]
[include Heatsoak.cfg]
[include Orbiter_Smart_Sensor.cfg]
[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 43200
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 73.0

shaper_type_y: mzv
shaper_freq_y: 65.8


[force_move]
enable_force_move: true

[stepper_y]
step_pin: PD6
dir_pin: PD11
enable_pin: !PC6
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PC14
position_endstop: 328
position_max: 328
position_min: -17
homing_speed: 25
second_homing_speed: 8


[tmc2660 stepper_y]
cs_pin: PD14
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[stepper_x]
step_pin: PD7
dir_pin: PD12
enable_pin: !PC6
microsteps: 16
rotation_distance: 40
#endstop_pin: ^!PC14 #^!PA2 This is one of the other endstop pins but not used for Y now.  
position_min: -15
position_endstop: 338
position_max: 338
homing_speed: 25
second_homing_speed: 8


[tmc2660 stepper_x]
cs_pin: PC9
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[stepper_z]
step_pin: PD8
dir_pin: !PD13
enable_pin: !PC6
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^PD29
#endstop_pin: PD10  # E0 endstop
#endstop_pin: PC16  # E1 endstop
#position_endstop: 0.5
position_min: -10
position_max: 400

[tmc2660 stepper_z]
cs_pin: PC10
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

#[bltouch]
#sensor_pin: ^PC1
#control_pin: PC3
#z_offset:0
#x_offset: -28
#y_offset: -15
#stow_on_each_sample: false
#adaptive_margin: 5
#samples:3

[screws_tilt_adjust]
screw1: 297, 281 #305, 310
screw1_name: rear right screw
screw2: 186, 281 #215, 310
screw2_name: mid rear screw
screw3: 10, 281 #29, 310
screw3_name: rear left screw
screw4: 10, 134
screw4_name: mid left screw
screw5: 10, -14
screw5_name: front left screw
screw6: 187, -14
screw6_name: front mid screw
screw7: 297, -14
screw7_name: front right screw
screw8: 297, 134
screw8_name: mid right screw
screw_thread: CCW-M3
horizontal_move_z: 10


#[extruder]
#step_pin: PD5
#dir_pin: PA1
#enable_pin: !PC6
#microsteps: 16
#rotation_distance: 5.586
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: !PA20
#sensor_type: PT1000
#sensor_pin: PC15
##control: pid
##pid_Kp: 22.2
##pid_Ki: 1.08
##pid_Kd: 114
#min_temp: 0
#max_temp: 300
#min_extrude_temp: 175
#max_extrude_only_distance: 1000


#[tmc2660 extruder]
#cs_pin: PC17
#spi_bus: usart1
#run_current: 0.847  # hemera with safety margin
#sense_resistor: 0.051

#pin: PA0    # part fan
##pin: PC26  # FAN1, heatbrake

# ======================================================================
# MCU / electronics cooling fan
# Turns on automatically when steppers or heaters are active
# ======================================================================

[controller_fan mcu_fan]
pin: PA0
idle_timeout: 30

[thermistor bed_100k_beta_4138]
temperature1: 25
resistance1: 100000
beta: 4138

[heater_bed]
heater_pin: !PA19
sensor_type: bed_100k_beta_4138
pullup_resistor: 4700
#TDK NTCG104LH104JT1 #or # NTC 100K MGB18-104F39050L32 #PT1000 #likely not EPCOS 100K B57560G104F
sensor_pin: PC13
#control: watermark
min_temp: 0
max_temp: 110

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor duet_mcu]
sensor_type: temperature_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam4e8e_00313753314E33383038303536303331-if00



[printer]
kinematics: corexy

#[filament_switch_sensor switch_sensor]
#switch_pin: PC16
#pause_on_runout: True
#runout_gcode:
#  PAUSE 
#  M117 Filament empty
#insert_gcode:

#[filament_motion_sensor encoder_sensor]
#switch_pin: PD10
#detection_length: 4
#extruder: extruder
#pause_on_runout: True
#runout_gcode:
#  PAUSE
#  M117 Filament encoder runout
#insert_gcode:

#[gcode_macro UERY_FILAMENT_SENSOR]
#gcode:
  #QUERY_FILAMENT_SENSOR SENSOR=encoder_sensor
  #G4 P60000 ; Wait for one minute (60000 milliseconds)
  #RUN_MACRO MACRO=UERY_FILAMENT_SENSOR

#[gcode_macro LOAD_FILAMENT]
#gcode:
 #   {% if printer.print_stats.state == "printing" %}
 #   M104 S230 ; Set extruder temperature only if printing
 #   M109 S230 ; Wait for extruder to reach temperature only if printing
 #   {% endif %}
 #   G1 E100 F300 ; Load filament at desired speed
 #   ; G1 E-1 F1800 ; Retract 1mm of filament quickly to prevent oozing

#[gcode_macro UNLOAD_FILAMENT]
#gcode:
    #{% if printer.print_stats.state == "printing" %}
    #M104 S230 ; Set extruder temperature to 230°C only if printing
    #M109 S230 ; Wait for extruder to reach 230°C only if printing
    #{% endif %}
    #G1 E-100 F300 ; Retract 100mm of filament at 5mm/s (300mm/min) to unload


#[gcode_macro PANELDUE_BEEP]
# Beep frequency
#default_parameter_FREQUENCY: 300
# Beep duration in seconds
#default_parameter_DURATION: 1.
#gcode:
  #{action_call_remote_method("paneldue_beep",
                             #frequency=FREQUENCY|int,
                             #duration=DURATION|float)}

[gcode_macro PANELDUE_BEEP]
gcode:
  # Plain English: Beep via PanelDue (Moonraker remote method).
  # Usage examples:
  #   PANELDUE_BEEP FREQUENCY=440 DURATION=0.25
  {% set f = params.FREQUENCY|default(300)|int %}
  {% set d = params.DURATION|default(1.0)|float %}
  {action_call_remote_method("paneldue_beep", frequency=f, duration=d)}


[gcode_macro Bed_Level]
gcode:
  {SCREWS_TILT_CALCULATE}

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 275.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 290.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 50.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode: PAUSE X=250 Y=280 Z_MIN=50

[gcode_macro PAUSE_BASE]
gcode:
  # Plain English: call Klipper's original PAUSE (bypasses our custom PAUSE logic)
  BASE_PAUSE

[gcode_macro RESUME_BASE]
gcode:
  # Plain English: call Klipper's original RESUME (bypasses our custom RESUME logic)
  BASE_RESUME



[gcode_macro PRINT_END]
gcode:
  SET_DISPLAY_TEXT MSG="Print finished"

  # Turn off hotend now so it cools during travel (reduces ooze/stringing)
  M104 S0

  G91
  G1 E-7.0 F1800  ; retract 7mm
  G1 Z20 F1200    ; lift 20mm
  G90

  G1 X150 Y300 F6000  ; park back-center

  M140 S0  ; bed off
  M107     ; part fan off
  M84      ; disable steppers


#   print_start macro
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Z_TILT_ADJUST if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 1.210
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.530
#*# pid_ki = 0.971
#*# pid_kd = 1317.054
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.213
#*# pid_ki = 1.182
#*# pid_kd = 86.412
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.057358, 0.062031, 0.235313, 0.184187, 0.252248, 0.304749, 0.281973, 0.129596, 0.108544
#*# 	-0.240067, -0.044660, 0.157321, 0.161131, 0.246706, 0.271567, 0.332393, 0.230214, 0.094875
#*# 	-0.367873, -0.128958, 0.047178, 0.091757, 0.204428, 0.242805, 0.284353, 0.155115, 0.020059
#*# 	-0.436023, -0.225299, -0.047266, 0.011795, 0.143591, 0.194556, 0.230702, 0.084524, -0.104505
#*# 	-0.517312, -0.262691, -0.059671, -0.037691, 0.094357, 0.137297, 0.151581, -0.017598, -0.204363
#*# 	-0.565796, -0.356042, -0.120266, -0.076680, 0.029737, 0.079649, 0.108784, -0.075524, -0.303048
#*# 	-0.651287, -0.416859, -0.200473, -0.124442, -0.013776, 0.024569, 0.036631, -0.156065, -0.368160
#*# 	-0.637164, -0.467868, -0.281760, -0.221525, -0.095816, -0.061718, -0.080691, -0.239075, -0.450433
#*# 	-0.683530, -0.512269, -0.314471, -0.302460, -0.216817, -0.196825, -0.202832, -0.332732, -0.517597
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 270.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 17
#*# calibration_version = 5
#*# calibration_17 = gASV6gIAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUPqZOP8nzfU/BURRIRdo9T+nZDFyCVbZP3Gz65BBndo/DKs777Wot79oJduc4Vbiv5Xpof4vm8s/QfUDduYP6z+VqO/4f/W2v+FIJWSIs9e/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ07cLC+WqlD6h94HNMTSVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUTowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1Ai4sfGeQOVPv0g5XjqTjE+VOw7ZdsKG75bgsCpwDgHPhze1UwDEvQ91SJNjtqqGr5huW6UMb/oPdB2PrfQphY+qiJ4Fqy/zr2Za2Ojx2AAvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ/NbbS6Y9wT+slY3TB5wLQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/wT2mS9vW/EdAC5wH042VrGWMB2ZfcmFuZ2WUXZQoR0FIJYI8vDgAR0FIxeuSkLgAZYwCZGOUSxF1Lg==
